<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="func1()" > ajax提交 </button>
</body>

<script>
function  func1() {

    function createXMLHttpRequest() {
        var xmlHttp;
        // 适用于大多数浏览器，以及IE7和IE更高版本
        try{
            xmlHttp = new XMLHttpRequest();
        } catch (e) {
            // 适用于IE6
            try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                // 适用于IE5.5，以及IE更早版本
                try{
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e){}
            }
        }
        return xmlHttp;
    }

    var xmlHttp = createXMLHttpRequest();
{#        xmlHttp.onreadystatechange = function() {#}
{#            //alert(xmlHttp.status);#}
{#            alert(xmlHttp.readyState);#}
{#        };#}

    xmlHttp.onreadystatechange = function() {
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var data = xmlHttp.responseText;
                alert(data);
            }
        };

    xmlHttp.open("GET", "/ajax_receive/", true);
    xmlHttp.send(null);

}

</script>
</html>